.advantage {
    @extend %section;
    padding-bottom: 0;
}
 
.advantage-list {

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--main-text-color);
    
        margin-bottom: 10px;

        @media screen and (max-width: $mobile) {
            text-align: center;
        }
    }
    &__wrap {
        height: 120px;   
        background-color: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
.advantage-list__item {
    padding-bottom: 60px;

    @media screen and (min-width: $mobile) {
        max-width: 480px;
    }

    @media screen and (min-width: $tablet) {
        max-width: 354px;
        flex-basis: 50%;
    }

    
    @media screen and (min-width: $desktop) {
        max-width: 270px;
    }
}

.advantage-list__text {
    line-height: 1.71;
    color: var(--secondary-text-color);
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.advantage__icon {
    fill: var(--main-text-color);
}