.contact {
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

    // @media screen and (min-width: $tablet) {
    //     margin-left: 40px;
    // }

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
} 
.contact__link {
    @media screen and (min-width: $tablet) {
        margin-left: 40px;
    }
}
 .contact .contact__mail + .contact__tel {

    @media screen and (max-width: 1199px) {
        margin-top: 10px;
    }

    // @media screen and (min-width: 1200px) {
    //     margin-left: 30px;
    // }
 }


// .contact__mail {
//     margin-right: 50px;
// }
 
.contact__link {
    color: var(--main-text-color);
    font-size: 12px;

    @media screen and ($desktop) {
        font-size: 14px;
    }

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--secondary-text-color);

   @include animation(color);

    &:hover .contact-icon,
    &:focus .contact-icon {
        fill: var(--acent-color);
    }
    
    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

// .contact__mail,
// .contact__tel {
//     font-size: 12px;

//     @media screen and ($desktop) {
//         font-size: 14px;
//     }
// }


.contact-icon {
    fill: var(--secondary-text-color);

    
    @include animation(fill);
}