.hero {
    @extend %section
}

.hero-section {
    background-color: var(--hero-and-footer-background-color); 

    margin-right: auto;
    margin-left: auto;

    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    @media screen and (min-width: $tablet) {
        max-width: 768px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        height: 600px;
        
        padding-top: 209px;
        padding-bottom: 200px;
    }
}

.hero-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 

    background-image: linear-gradient(
        to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 

   url(../images/hero-fon/hero@1x-sm.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image:url(../images/hero-fon/hero@2x-sm.jpg);
    }
    
    @media screen and (min-width: $tablet) {
        background-image: url(../images/hero-fon/hero@1x-md.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image:url(../images/hero-fon/hero@2x-md.jpg);  
    }
}

    @media screen and (min-width: $desktop) {
        background-image: url(../images/hero-fon/hero@1x-lg.jpg);

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image:url(../images/hero-fon/hero@1x-lg.jpg);
        }  

    }
}
    
    .hero__title {
        color: #ffffff;        
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        max-width: 360px;


        @media screen and (min-width:$desktop) {
            font-size: 44px;
            line-height: 1.36;
            width: 696px;
        }
    }